/* */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  font-family: "Rubik", sans-serif;
  --color-links: #FFF;
  --color-main: #402b2b;
  background: #fef8f5;
  --color-h1: #fafafa;
  --color-accent : #ed4d47;
  --bg-btn:#ed4d47;
  --fz--main:16px;
}

main{
  overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    z-index: 1000;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
  }

.h2 {
    color: var(--color-main);
    font-family: DM Serif Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

ul{
  list-style: none;
}

a {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-links);
  text-decoration: none;
  transition: color, 0.2s;
}

a:hover {
  color: #fbd0af;
}

.title,
.description,
.question {
  font-family: Rubik;
}
.title {
  color: #ee4d47;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 166.667% */
  letter-spacing: 2.4px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.description {
  color: var(--color);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
}

.text {
  position: relative;
  color: var(--color);
  background: #fcddd4;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  padding: 30px 50px;
}

.text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  background: #ed4d47;
  height: 100%;
  border-radius: 5px 0 0 5px;
}
.col {
  display: flex;
}

/**/

/* Header */
.header {
  position: relative;
  padding: 50px 0 190px 0;
  max-width: 1734px;
  background: url("/assets/image/bg.png") center/cover no-repeat;
  height: 1005px;
  margin: 0 auto 406px;
}

.header_h1 {
  color: var(--color-h1);
}

.header_h1 {
  max-width: 741px;
  font-family: "DM Serif Display", serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 60px;
}

.header::after {
  content: url("/assets/icon/mobel.svg");
  position: absolute;
  bottom: -24%;
  transform: translateY(-3px);
}

.nav_mb{
  margin-bottom: 94px;
}
.nav_items {
  display: flex;
  align-items: center;
  gap: 100px;
}

.nav_item {
  cursor: pointer;
  transition: color, 0.2s;
}

.button.nav_button {
  width: 158px;
  height: 60px;
  gap: 0;
}

.button {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  width: 220px;
  height: 60px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  background: var(--bg-btn);
  border: none;
  color: #fafafa;
  cursor: pointer;
  transition: background, 0.2s;
  text-transform: uppercase
}

.button::after {
  content: url("/assets/icon/Union.svg");
}

.button.button.nav_button::after {
  content: "";
}

.button:hover {
  background: #ff5f41;
}


/**/

/*section About-us */

.about-us {
  margin-bottom: 160px;
}
.about-us__col {
  gap: 25px;
}

.wrapper_end {
  justify-content: end;
}
.about-us__description {
  max-width: 470px;
  margin-bottom: 30px;
}
.image {
  padding-bottom: 40px;
}

/*section request*/

.request_container {
  position: relative;
  right: 100px;
}

.wrapper_center {
  justify-content: center;
  flex: 1;
}
.request__col {
  flex-direction: row-reverse;
  gap: 57px;
}
.image_pd-0 {
  padding: 0;
}
.image_flex{
  flex: 1.5;
}
.image_flex img{
  width: 100%;
}

/*section faq*/
.faq {
  position: relative;
  margin-bottom: 277px;
}

.faq__container {
    max-width: 1250px;
    position: relative;
  }

.faq_accent-bg{
    background-image: url(/assets/image/faq.png);
    position: absolute;
    width: 100%;
    height: 1500px;
    /* bottom: 101px; */
    left: 17%;
    background-repeat: no-repeat;
    z-index: -1000;
}

.wrapper_center {
  justify-content: center;
}

.faq__col {
  margin-bottom: 90px;
  padding-top: 101px;
}


.faq_bg {
  position: absolute;
  background: url("/assets/image/faq.png") no-repeat;
  min-height: 100vh;
  top: 0;
  right: 0;
  left: 50%;
}

.cards_col {
  display: flex;
  align-items: start;
  gap: 20px;
}

.card {
    cursor: pointer;
  max-width: 550px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 20px 40px 0px rgba(238, 77, 71, 0.1);
}

#accordion_left,#accordion_right{
    display: flex;
    flex-direction: column;
    width: 100%;    
    gap: 10px;
}

.card__question {
  padding: 25px 35px;
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
}

.card__answer{
    display: none;
}

.card_active {
    margin-bottom: 40px;
}
.card_active .card__answer{
    display: block;
    padding:  36px 25px 85px 25px;
    border-radius: 10px;
    background: #fff7f5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card_mb{
    margin-bottom: 22px;    
}

.card__button{
    font-family: Rubik;
    font-size: 18px;
    display: flex;
    color: var(--color-accent);
    border-radius: 10px;
    background: rgba(237, 77, 71, 0.2);
    max-width: 550px;
    height: 90px;
    border: none;
    font-weight: 700;
    padding: 0 35px 0 219px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}


/*section commmet*/

.comment{
    margin-bottom: 380px;    
}

.comment_container{
    max-width: 1400px;
    position: relative;
    left: 80px;
  }


.comment_title{
    display: inline-flex;
    margin-bottom: 44px;
}

.arrows{
    display: inline-flex;
    position: absolute;
    right: 16rem;
    top: 5px;
    gap: 30px;
}

.arrow-left,.arrow-right{
    cursor: pointer;  
    opacity: 0.6;  
}

.arrow-right_active{
    opacity: 1;
}

.commetn__wrapper{
    display: flex;

}

.slider{
    max-width: 1400px;
    margin: 0 auto;
    scrollbar-width: none;
    overflow-x: scroll;
}

.slider::-webkit-scrollbar{
    display: none;
}

.cards-commets{
    display: inline-flex;
    width: 100rem;
    gap: 20px;
}

.h2_max-wd{
    max-width: 400px;
    width: 100%;
}

.card-coment{
    flex: 1 1 auto;
    max-width: 420px;
    height: 360px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 20px 40px 0px rgba(238, 77, 71, 0.10);
        display: flex;
    flex-direction: column;
    justify-content: end;
}
.card-text{
    padding: 60px 52px 60px 48px;
    font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 30px; 
max-height: 240px;
}
.card-user{
    display: flex;
    gap: 20px;
    align-items: center;
    padding:0 0 40px 48px;
}


/* section contact*/

.contact{
    position: relative;
    padding: 0 10px;
    max-width: 1400px;
    height: 600px;
    margin: 0 auto;
    background: #0F264C;
    border-radius: 0 150px 0 0 ;
}


.container_small{
    max-width: 1085px;
    padding: 100px 10px;
    height: 100%;
}

.contact::after{
    content: url('/assets/image/linebg.png');
    position: absolute;
    top: 0;
}


.text-contact{
    padding: 10px 0 10px 40px;
    color:#fafafa;
    background: none;
    max-width: 400px;
    margin-bottom: 160px;
}


.form{
  max-width: 550px;
  width: 100%;
  height: 440px;
  top: -20%;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 20px 40px 0px rgba(238, 77, 71, 0.10);
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.form_content{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding:  0 75px;
  width: 100%;
}

label{
  display: block;
  margin-bottom: 10px;
  color: var(--color-main);
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 40px; /
}

.name,.email{
height: 60px;
padding: 11px 40px;
width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(238, 77, 71, 0.50);
background: #FFF;
color: var(--text, #402B2B);
font-family: Rubik;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 40px; 
transition: border , 0.2s;
}

.name:hover,.email:hover{
  border-radius: 5px;
border: 2px solid #EE4D47;
background: #FFF;
box-shadow: 0px 20px 40px 0px rgba(238, 77, 71, 0.20);
}

.nav_item-bottom a{
  font-weight: 300;
}
.hide{
  display: none;
}



/*footer*/

.footer{
  width: 100vw;
  height: 100px;
  background: #fff;
}

.footer_wrap{
  display: flex;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
}

.footer__links{
  display: flex;
  gap: 31px;
}

/*media 991px*/

@media (max-width:991px){
  .request_container{
    right: 0;
  }
  
  .header::after{
    display: none;
  }
  .nav{
    flex-direction: column;
    gap: 20px;
  }
  .header {
    margin-bottom: 200px;
  }


  .col{
    flex-direction: column;
    align-items: center;
  }
  .wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .image img{
    width: 100%;
  }

  .cards_col{
    flex-direction: column;
  }
  .card{
    max-width: 100%;
  }

.card__button{
  padding: 0px 35px 0 40px;
}


.comment_container{
  left: 0;
}
.commetn__wrapper{
  flex-direction: column;
  gap: 120px;
}

.arrows{
  right: 0;
  left: 2rem;
  top: 40%;
}
.slider{
  max-width: 900px;
}

.card-coment{
  max-width: 320px;
}

.form{
  left: 0;
  margin: 0 auto;
}

.nav-bottom{
  align-items: center;
}

.text-contact{
  visibility: hidden;
}

}


@media (max-width:678px){
  .nav{
    align-items: center;
  }
  .nav_items{
    flex-direction: column;
    gap: 20px;
  }

  .nav_items-bottom{
    flex-direction: row;
  }

  .header_h1{
    font-size: calc((100 - 35) * ((680px - 320px) / (680 - 140)));
  }

  .text{
    font-size: 20px;
    line-height: 30px;
  }

  .h2 {
    font-size: calc((100 - 35) * ((680px - 320px) / (680 - 140)));
  }


  .form_content{
    padding: 0 40px;
  }

  .footer_wrap{
    flex-direction: column;
    gap: 30px;
  }
}